<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photo library access to upload vehicle documents.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to capture vehicle documents.</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fleetapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fleetapp</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
